@page "/"

<PageTitle>Index</PageTitle>

<h2 style="text-align: center"> Welcome to BrokeTwitter! </h2>
<br>
<p style="text-align: center"> Please log in or we will contact the authorities! <br>
    This is a threat <br> :) </p>
